* {
    border: 1px solid;
}

.player{
    display: flex;
}

.player-cards {
    padding: 20px 10px 20px 10px;
    display: flex;
    width: 75%;
}

.player-button {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    display: flex;
    height: 300px;
}
.board-cards {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.board-card-row {
    display: flex;
    padding-left: 10px;
    align-items: center;
    height: 50%
}
.board-result {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card
{   
	border: solid 1px #aaa;
	border-radius: 4px;
	width: 30px;
	height: 50px;
	background-color: white;
	margin: 2px;
    text-align: center;
}

div.card * {
    border: none;   
    height: 50%;
}

.card-values {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

button {
    background-color: #818181;
    border: 1px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:disabled {
    background-color: #b9b9b9;
    border: none;
}